:root {
  --color: #000;
  --color2: #2E2E2E;
  --color3: #676767;
  --color4: #4D4D4D;
  --bg: #fff;
  --bg2: #FEF5F5;
  --bg3: #F86061;
  --border-color: #EEDCDC !important;
  --border-color2: #DDEDF4 !important;
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  padding: 0px;
  margin: 0 auto;
}

body {
  margin: 0px auto;
  padding: 0px;
  background-color: var(--bg) !important;
}

a:hover {
  text-decoration: none;
}

pre, p {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

ul {
  padding: 0;
  margin: 0px;
}

textarea {
  resize: none !important;
}

button, select {
  cursor: pointer;
}

button:focus, input:focus, select:focus, textarea:focus {
  outline: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

img {
  width: 100%;
  display: block;
}

a:hover {
  text-decoration: none;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
}

/*-- Navbar ---*/
.navbar {
  background: none !important;
}

.list_item {
  margin: 0 16px;
}

.logo {
  width: auto;
  margin-right: 100px;
}

.toggler {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.list_link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #4D4D4D !important;
  padding: 8px 0 !important;
}

.active {
  color: #F55253 !important;
}

.list_link:hover {
  color: #F55253 !important;
}

.search_btn_list {
  list-style: none;
}

.nav_search_form {
  position: relative;
}

.search_icon {
  position: absolute;
  top: 12px;
  left: 20px;
}

.nav_search_input {
  width: 288px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 12px 66px 12px 44px;
  border: none;
}

.nav_search_input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.nav_search_input:focus::-moz-placeholder {
  opacity: 0;
}

.nav_search_input:focus:-ms-input-placeholder {
  opacity: 0;
}

.nav_search_input:focus::-ms-input-placeholder {
  opacity: 0;
}

.nav_search_input:focus::placeholder {
  opacity: 0;
}

.nav_search_input::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: var(--color2);
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

.nav_search_input::-moz-placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: var(--color2);
  -moz-transition: .2s all ease;
  transition: .2s all ease;
}

.nav_search_input:-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: var(--color2);
  -ms-transition: .2s all ease;
  transition: .2s all ease;
}

.nav_search_input::-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: var(--color2);
  -ms-transition: .2s all ease;
  transition: .2s all ease;
}

.nav_search_input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: var(--color2);
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
}

.cart_icon {
  position: absolute;
  top: 10px;
  right: 20px;
}

.cart_icon::before {
  position: absolute;
  content: '';
  background: #F2F2F2;
  height: 27px;
  width: 2px;
  left: -16px;
  top: 2px;
}

.cart_icon::after {
  content: "2";
  position: absolute;
  background: #F54B4B;
  -webkit-box-shadow: -6px 9px 24px -6px rgba(238, 67, 67, 0.68);
  box-shadow: -6px 9px 24px -6px rgba(238, 67, 67, 0.68);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.005em;
  color: #FFFDFD;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: -24px;
  right: -24px;
}
/*-- End of Navbar --*/

/*-- Hero Section --*/
.hero_wrapper {
  padding: 40px 0;
}

.hero_wrap {
  padding: 80px 0;
}

.hero_content_top_txt {
  background: #FDECEC;
  border-radius: 23px;
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 20px 0;
}

.hero_content_top_title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #F55556;
}

.hero_top_txt_img {
  margin: 0 8px;
}

._strawberry_img {
  width: 26px;
  height: 24px;
}

.hero_content_title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 74px;
  line-height: 88px;
  letter-spacing: -0.01em;
  color: var(--color2);
}

.hero_red {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 74px;
  line-height: 88px;
  letter-spacing: -0.05em;
  color: #F54748;
}

.hero_content_para {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.005em;
  color: var(--color3);
  max-width: 80%;
  margin: 22px 0;
}

.hero_btn_wrap {
  margin: 50px 0 10px 0;
}

.order_now_btn {
  background: var(--bg3);
  border-radius: 12px;
  width: 186px;
  padding: 25px 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFAFA !important;
  display: block;
  border: 1px solid transparent;
}

.order_now_btn:hover {
  border: 1px solid var(--bg3);
  color: var(--bg3) !important;
  background: #FFFAFA !important;
}

.order_process_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 224px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  letter-spacing: -0.01em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--color2);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: none;
  border: none;
  transition: .2s all ease;
}

.order_process_btn:hover {
  color: var(--color3);
}

.play_icon {
  border-radius: 50%;
  -webkit-box-shadow: 0px 20px 49px -10px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 20px 49px -10px rgba(0, 0, 0, 0.08);
}
/*-- End of Hero Section --*/

/*-- Services Section --*/
.services_wrapper {
  padding: 100px 0;
  background-color: var(--bg2);
}

.services_heading {
  text-align: center;
}

.services_heading_title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #F54748;
  margin: 0 0 8px 0;
}

.services_heading_title2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: var(--color2);
  max-width: 50%;
  margin: 0 auto;
}

.services_content_wrap {
  margin: 60px 0 20px 0;
}

.services_content_inner {
  position: relative;
}

.services_content_bg {
  position: absolute;
  width: 310px;
  height: 350px;
  background: #FE6A6A;
  border-radius: 12px;
  left: 28px;
  z-index: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 0;
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
}

.services_content_inner:hover .services_content_bg {
  opacity: 1;
  left: 38px;
  top: -3px;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.services_content {
  margin: 20px;
  background-color: var(--bg);
  border-radius: 12px;
  padding: 50px 28px;
  position: relative;
  z-index: 2;
}

.services_content_img {
  width: auto;
  height: 60px;
  margin: 0 auto;
  -webkit-filter: drop-shadow(0px 25px 30px rgba(248, 67, 68, 0.1));
  filter: drop-shadow(0px 25px 30px rgba(248, 67, 68, 0.1));
}

.services_content_txt {
  text-align: center;
  margin: 60px 0 10px 0;
}

.services_content_title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: var(--color2);
  margin: 0 0 15px 0;
}

.services_content_para {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: var(--color3);
  max-width: 90%;
  margin: 0 auto;
}
/*-- End of Services Section--*/

/*-- Feature Grover Section --*/
.feature_one_wrapper {
  padding: 50px 0;
}

.feature_one_content {
  margin: 180px 0 20px 0;
}

.feature_one_content_title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #03A66B;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}

.feature_one_content_title2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: var(--color2);
  max-width: 75%;
  margin: 0 0 22px 0;
}

.feature_one_content_para {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
  max-width: 70%;
}

.feature_one_content_btn {
  margin: 50px 0 20px 0;
}

.feature_content_btn {
  display: block;
  background: var(--bg3);
  border-radius: 12px;
  width: 200px;
  padding: 24px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid transparent;
  color: #FFFAFA !important;
}

.feature_content_btn:hover {
  background: var(--bg);
  color: var(--bg3) !important;
  border: 1px solid var(--bg3);
}
/*-- End of Feature One Section --*/

/*-- Feature Two Section --*/
.feature_two_wrapper {
  padding: 50px 0;
}

.feature_two_content {
  margin: 200px 0 20px 0;
}

.feature_two_content_title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #F9BA45;
  margin: 0 0 8px 0;
}

.feature_two_content_title2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: var(--color2);
  max-width: 90%;
  margin: 0 0 22px 0;
}

.feature_two_content_para {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
  max-width: 80%;
}

.feature_two_content_btn {
  margin: 50px 0 20px 0;
}

.feature_2_content_btn {
  display: block;
  background: var(--bg3);
  border-radius: 12px;
  width: 200px;
  padding: 24px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid transparent;
  color: #FFFAFA !important;
}

.feature_2_content_btn:hover {
  background: var(--bg);
  color: var(--bg3) !important;
  border: 1px solid var(--bg3);
}
/*-- End of Feature Two Section --*/

/*-- CTA Section --*/
.cta_wrapper {
  padding: 100px 0;
  background-color: var(--bg2);
}

.cta_img {
  width: auto;
  margin: 0 auto;
}

.cta_content {
  margin: 80px 0 20px 0;
}

.cta_content_title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #F54748;
  margin: 0 0 8px 0;
}

.cta_content_title2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: #2E2E2E;
  max-width: 80%;
  margin: 0 0 22px 0;
}

.cta_content_para {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  max-width: 80%;
  color: var(--color3);
}

.cta_content_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 60px 0 20px 0;
}

.app_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 200px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color2) !important;
  padding: 18px 2px;
  border: 1px solid var(--border-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 12px;
}

.playstore_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 200px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color2) !important;
  padding: 18px 2px;
  border: 1px solid var(--border-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 12px;
}
/*-- End of CTA Section --*/

/*-- Footer Section --*/
.footer_wrapper {
  padding: 50px 0 0 0;
}

.footer_top {
  padding: 30px 0;
}

.footer_logo_img {
  width: auto;
}

.footer_logo_wrap {
  margin: 20px 0;
}

.footer_content_logo_txt {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color3);
  max-width: 75%;
  margin: 25px 0 10px 0;
}

.footer_content {
  margin: 20px 0;
}

.footer_content_title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: var(--color2);
}

.footer_content_list {
  margin: 30px 0 10px 0;
}

.footer_list {
  list-style: none;
}

.footer_list_link {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: var(--color3) !important;
}

.footer_list_link:hover {
  color: var(--color) !important;
}

.footer_content {
  margin: 30px 0 10px 0;
}

.footer_content_txt {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #888888;
}

.footer_bottom {
  padding: 0 0 30px 0;
}

.footer_divider {
  background-color: #ECECEC;
  margin: 30px 0;
}

.footer_copyright_txt {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8C8C8C;
}

.footer_condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer_condition_link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #747474 !important;
  margin: 0 10px;
  display: block;
}

.footer_condition_link:hover {
  color: var(--color) !important;
}
/*-- End of Footer Section ---*/

/*-- Desktop/Laptop Responsiveness --*/
@media only screen and (max-width: 1500px) {}
@media (max-width: 1399px) {
  .hero_content_title {
    font-size: 48px;
    line-height: 58px;
  }
  ._hero_red {
    font-size: 48px;
    line-height: 58px;
  }
  .services_heading_title2 {
    font-size: 32px;
    line-height: 44px;
    max-width: 100%;
  }
  .services_heading_title {
    font-size: 16px;
  }
  .services_content_bg {
    width: 252px;
    height: 100%;
  }
  .services_content {
    margin: 10px;
    padding: 40px 26px;
  }
  .services_content_para {
    max-width: 100%;
  }
  .feature_one_content_title {
    font-size: 16px;
  }
  .feature_one_content_title2 {
    font-size: 32px;
    line-height: 44px;
    max-width: 90%;
  }
  .feature_one_content_para {
    font-size: 16px;
    max-width: 100%;
  }
  .feature_content_btn {
    width: 180px;
    padding: 18px 20px;
    font-size: 16px;
  }
  .feature_two_content_title {
    font-size: 16px;
  }
  .feature_two_content_title2 {
    font-size: 32px;
    line-height: 44px;
    max-width: 90%;
  }
  .feature_two_content_para {
    font-size: 16px;
    max-width: 100%;
  }
  .feature_2_content_btn {
    width: 180px;
    padding: 18px 20px;
    font-size: 16px;
  }
  .cta_content_title {
    font-size: 16px;
  }
  .cta_content_title2 {
    font-size: 32px;
    line-height: 44px;
    max-width: 90%;
  }
  .cta_content_para {
    font-size: 16px;
    max-width: 90%;
  }
  .cta_content_btn {
    margin: 40px 0 20px 0;
  }
  .app_btn {
    font-size: 16px;
    padding: 12px 2px;
  }
  .playstore_btn {
    font-size: 16px;
    padding: 12px 2px;
  }
}
/*-- End of Desktop/Laptop Responsiveness --*/

/*-- Ipad Pro Responsiveness --*/
@media only screen and (max-width: 1199px) {
  .hero_content_title {
    font-size: 38px;
  }
  .hero_red {
    font-size: 38px;
  }
  .hero_content_para {
    font-size: 16px;
    max-width: 100%;
  }
  .order_now_btn {
    width: 160px;
    font-size: 16px;
  }
  .order_process_btn {
    width: 200px;
    font-size: 16px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .services_content_title {
    font-size: 18px;
  }
  .services_content_bg {
    height: 105%;
  }
  .feature_one_content {
    margin: 100px 0 20px 0;
  }
  .feature_two_content {
    margin: 100px 0 20px 0;
  }
  .footer_content_logo_txt {
    font-size: 14px;
    max-width: 95%;
  }
  .footer_list_link {
    font-size: 14px;
  }
  .footer_content_txt {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .list_item {
    margin: 12px 16px;
    text-align: center;
  }
  .nav_search_form {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .services_content {
    margin: 0;
    padding: 30px 22px;
  }
  .services_content_bg {
    width: 190px;
  }
  .feature_two_wrapper {
    padding: 0 0 100px 0;
  }
  .footer_top {
    text-align: center;
  }
  .footer_logo_img {
    margin: 0 auto;
  }
  .footer_content_logo_txt {
    max-width: 100%;
  }
}
/*-- End of Ipad Pro Responsiveness --*/

/*-- Ipad/Mobile Large Responsiveness --*/
@media only screen and (max-width: 767px) {
  .hero_content {
    text-align: center;
  }
  .hero_content_top_txt {
    margin: 0 auto 20px auto;
  }
  .services_wrapper {
    padding: 50px 0;
  }
  .hero_wrap {
    padding: 60px 0 10px 0;
  }
  .services_content {
      margin: 10px 0;
  }
  .services_content_bg {
    width: 96%;
  }
  ._feature_one_content {
    margin: 80px 0 20px 0;
    text-align: center;
  }
  .feature_one_content_title2 {
    max-width: 100%;
  }
  .feature_content_btn {
    margin: 0 auto;
  }
  .feature_two_content {
    margin: 80px 0 20px 0;
    text-align: center;
  }
  .feature_two_content_title2 {
    max-width: 100%;
  }
  .feature_2_content_btn {
    margin: 0 auto;
  }
  .cta_content {
    text-align: center;
  }
  .cta_content_title2 {
    max-width: 100%;
  }
  .cta_content_para {
    max-width: 100%;
  }
  .cta_wrapper {
    padding: 50px 0;
  }
  .footer_wrapper {
    padding: 20px 0 0 0;
  }
  .footer_bottom {
    text-align: center;
  }
  .footer_condition {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer_divider {
    margin: 10px 0 30px 0;
  }
}
/*-- End of Ipad/Mobile Large Responsiveness --*/

/*-- Mobile Responsiveness --*/
@media only screen and (max-width: 575px) {
  .order_now_btn {
    width: 100%;
    font-size: 12px;
    padding: 20px 12px;
  }
  .order_process_btn {
    width: 100%;
    font-size: 12px;
  }
  .play_img {
    width: 60px;
  }
  .cta_content_btn {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 420px) {
  .hero_content_top_title {
    font-size: 14px;
  }
  .hero_content_title {
    font-size: 30px;
  }
  .hero_red {
    font-size: 30px;
  }
  .hero_content_para {
    font-size: 14px;
  }
  .order_now_btn {
    padding: 14px 10px;
  }
  .play_img {
    width: 50px;
  }
  .services_heading_title {
    font-size: 14px;
  }
  .services_heading_title2 {
    font-size: 24px;
  }
  .feature_one_content_title {
    font-size: 14px;
  }
  .feature_one_content_title2 {
    font-size: 24px;
  }
  .feature_one_content_para {
    font-size: 14px;
  }
  .feature_two_content_title {
    font-size: 14px;
  }
  .feature_two_content_title2 {
    font-size: 24px;
  }
  .feature_two_content_para {
    font-size: 14px;
  }
  .cta_content_title {
    font-size: 14px;
  }
  .cta_content_title2 {
    font-size: 24px;
  }
  .cta_content_para {
    font-size: 14px;
    max-width: 100%;
  }
  .app_btn {
    font-size: 14px;
    padding: 12px 2px;
    width: 160px;
  }
  .playstore_btn {
    font-size: 14px;
    padding: 12px 2px;
    width: 160px;
  }
}

@media only screen and (max-width: 375px) {
  .hero_btn {
    height: 100%;
  }
  .order_process_btn {
    height: 100%;
  }
  .play_img {
    width: 40px;
  }
}
/*-- End of Mobile Responsiveness */